body {
  font-family: "Dancing Script", cursive;

  background-color: wheat;
  color: black;
  font-size: xx-large;
}

h1 {
  color: purple;
  background-color: aliceblue;

  text-align: center;
}

.main-header {
  color: white;
}

#id {
  color: purple;
}

.background {
  background-image: url(img/);
}

h2 {
  text-align: left
}

.aboogie {
  text-decoration-style: solid;
  color: darkblue;
  margin-left: 2cm;
  font-size: smaller;
  background-color: aliceblue;
  width: 20%;
  padding: .3cm;
}

.graduation {
  margin-left: 2cm;
  color: darkmagenta;
  font-size: smaller;
  background-color: aliceblue;
  width: 14%;
  padding: .3cm;
}

.graduationimg {
  width: 400px;
}

.aboogieimg {
  width: 400px;
}

.thestranger {
  margin-left: 2cm;
  font-size: smaller;
  background-color: aliceblue;
  width: 14%;
  padding: .3cm;
}

.strangerimg {
  width: 400px;
}

img {
  margin-left: .5cm;
}