body {
  font-family: "Dancing Script", cursive;

  background-color: wheat;
  color: silver;
  font-size: xx-large;
}
h1 {
  color: blue;

  text-align: center;
}
.main-header {
  color: white;
}
#id {
  color: purple;
}
.background {
  background-image: url(img/);
}
